<div class="card container">

    <!--Card image-->


    <!--Card content-->
    <div class="card-body ">
        <!--Title-->
        <h4 class="card-title text-center h4-responsive">About Me</h4>
        <!--Text-->
        <p class="card-text">
            My name is
            <strong>Ajani Eniola Solomon</strong> ,from oyo state Nigeria. I have been coding for the past 4year with soild front-end and back-end knowledge. 😎 I am a big fan of Graphql and Apollo. Am also a Progressive Web Application (PWA) Developer🤓.
            I preach RxJS observables and crazy about firebase cloud function 🍕.

        </p>

    </div>

</div>
<div class="card  m-5">

    <!--Card image-->


    <div style="display: block">
        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>


</div>